Flask
flask-cors
flask-restful
requests
Werkzeug
Pillow
gunicorn
blinker
certifi
charset-normalizer
click
colorama
dlib
face-recognition
face_recognition_models
idna
itsdangerous
Jinja2
MarkupSafe
numpy
opencv-python-headless
urllib3
